body{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
section{
    display: flex;
}
#landing{
    height: 100vh;
    background-image: url("./img1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    animation: changeBg 12s infinite ease-out;
}
.welcome-text{
    margin: 10vh 0 0 10vw;
    font-size: 3rem;
    font-family: 'Courgette', cursive;
    letter-spacing: 5px;
}

.seemore{
    text-align: center;
}
.seemore-btn{
    background-color: black;
    padding: 15px 34px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 0;
    transition-duration: 1s;
}
.seemore-btn:hover{
    background-color: white;
    color:black;
    box-shadow: 0px 0px 5px 1px black;
}
.seemore-btn:focus{
    outline: none;
}


@keyframes changeBg{
    0%{
        background-image: url("./img1.webp");
    }
    33.3%{
        background-image: url("./img2.webp");
    }
    66.6%{
        background-image: url("./img3.webp");
    }
}

@media screen and (max-width: 628px){
    .welcome-text{
        margin: 5vh auto 0 auto;
        font-size: 2rem;
        color: #ffffff;
        text-shadow: 2px 6px black;
        letter-spacing: 2px;
    }
}