body{
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}


#dashboardcover{
    overflow: hidden;
    min-height: 100vh;
    background-color: #11a0f3;
    animation: moveTop 1s 2s 1 forwards;
    z-index: 999;
    position: fixed;
    width: 100%;
}


#dashboard{
    overflow: hidden;
    min-height: 100vh;
    padding-top: 20vh;
    background-color: #f1f1f1;
}


.shuttertextholder{
    margin-top: 20vh;
}


.shuttertext{
    font-size: 65px;
    color: white;
    animation: fadeInOut 2s forwards;
}


.maincontenttext{
    font-size: 70px;
    color: black;
}


@keyframes fadeInOut{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes moveLeft{
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(-100%, 0);
    }
}

@keyframes moveTop{
    from {
        transform: translate(0,0);
    }

    to {
        transform: translate(0, -100%);
    }
}